---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Test Version

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: Version
        required: true

jobs:
  test-version:
    name: Test Version (${{ inputs.version }})
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Get Image Versions
        uses: ./.github/actions/image-versions
        id: image-versions
        with:
          upstream-version: ${{ inputs.version }}

      - name: Check Version Results
        run: |
          echo "Input Version: ${{ inputs.version }}"
          echo "Is Valid Semver: ${{ steps.image-versions.outputs.is-valid-semver }}"
          echo "Semantic Version: ${{ steps.image-versions.outputs.semantic }}"
          echo "Raw Version: ${{ steps.image-versions.outputs.raw }}"
